

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Intervention Thingy</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://hunterskrasek.com/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://www.cs.stedwards.edu/~sazua/cosc4157/shadowbox-3.0.3/shadowbox-3.0.3/shadowbox.css" type="text/css">
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://www.cs.stedwards.edu/~sazua/cosc4157/shadowbox-3.0.3/shadowbox-3.0.3/shadowbox.js"></script>
  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
  <script type="text/javascript">Shadowbox.init();</script>

  <style type="text/css">
  html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
  }

  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }

  #push,
  #footer {
    height: 60px;
  }
  #footer {
    background-color: #000;
  }

  /* Lastly, apply responsive CSS fixes as necessary */
  @media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  </style>
</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="brand">Intervention Thingy <span class="label label-important">Alpha</span></a>
          <div class="nav-collapse collapse">
            <ul class="nav  pull-left">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-th-list"></i> My Classes <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-user"></i> Attendance</a></li>
                  <li><a href="#"><i class="icon-check"></i> Participation</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-pencil"></i> Manage Class <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-arrow-up"></i> Students</a></li>
                  <li><a href="#"><i class="icon-italic"></i> Interventions</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-calendar"></i>Schedule <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-user"></i> Parent Teacher Conference</a></li>
                  <li><a href="#"><i class="icon-time"></i> Office Hours</a></li>
                  <li><a href="#"><i class="icon-home"></i> In Class</a></li>
                  <li><a href="#"><i class="icon-lock"></i> Detentions</a></li>
                </ul>
              </li>
            </ul>

            <ul class="nav pull-right">
              <li><a href="#"><i class="icon-envelope"></i> Notifications</a></li>
              <li><a href="#">Mrs Linda Kim</a></li>
            </ul> <!-- .nav -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid" style="margin-top: 5%;">
      <div class="row-fluid">
       <div class='span3'>				
        <ul class='sidebar-nav unstyled' style='position: fixed;'>
        	<div class='accordion-group'>
            <div class='accordion-heading'>
              <a class='accordion-toggle' data-toggle='collapse' data-parent='#accordion1'  href='#collapse298a5b1db64f9ac7c78c65b24cd5fe9b0f148af1_id'>
                6th Grade Math - Sec 1
              </a>
            </div>
            <div id='collapse298a5b1db64f9ac7c78c65b24cd5fe9b0f148af1_id' class='accordion-body collapse'>
              <div class='accordion-inner'>
                <ul class='unstyled'>
                 <li><a href='students.php?sectionId=298a5b1db64f9ac7c78c65b24cd5fe9b0f148af1_id'><i class='icon-th'></i>Students</a></li>
                 <li><a href='#'><i class='icon-book'></i>Grades </a><span class='label label-important'>NYI</span></li>
                 <li><a href='#'>Compare </a><span class='label label-important'>NYI</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class='accordion-group'>
            <div class='accordion-heading'>
              <a class='accordion-toggle' data-toggle='collapse' data-parent='#accordion1'  href='#collapse298a5b1db64f9ac7c78c65b24cd5fe9b0f148af1_id'>
                6th Grade Math - Sec 1
              </a>
            </div>
            <div id='collapse298a5b1db64f9ac7c78c65b24cd5fe9b0f148af1_id' class='accordion-body collapse'>
              <div class='accordion-inner'>
                <ul class='unstyled'>
                 <li><a href='students.php?sectionId=298a5b1db64f9ac7c78c65b24cd5fe9b0f148af1_id'><i class='icon-th'></i>Students</a></li>
                 <li><a href='#'><i class='icon-book'></i>Grades </a><span class='label label-important'>NYI</span></li>
                 <li><a href='#'>Compare </a><span class='label label-important'>NYI</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class='accordion-group'>
            <div class='accordion-heading'>
              <a class='accordion-toggle' data-toggle='collapse' data-parent='#accordion1'  href='#collapse298a5b1db64f9ac7c78c65b24cd5fe9b0f148af1_id'>
                6th Grade Math - Sec 1
              </a>
            </div>
            <div id='collapse298a5b1db64f9ac7c78c65b24cd5fe9b0f148af1_id' class='accordion-body collapse'>
              <div class='accordion-inner'>
                <ul class='unstyled'>
                 <li><a href='students.php?sectionId=298a5b1db64f9ac7c78c65b24cd5fe9b0f148af1_id'><i class='icon-th'></i>Students</a></li>
                 <li><a href='#'><i class='icon-book'></i>Grades </a><span class='label label-important'>NYI</span></li>
                 <li><a href='#'>Compare </a><span class='label label-important'>NYI</span></li>
                </ul>
              </div>
            </div>
          </div>
        </ul>			
      </div>    
      <div class="span9">
        <div class="row">
          <div class="span4 well well-small">
            <img src="http://placehold.it/80" style="width: 100%; text-align: center;">
            <p style="text-align: center;"><strong>Name:</strong> Tomasa  Cleaveland <small>Jr</small><br>
            <a href="http://inbloom.hunterskrasek.com/educationupdates.html" rel="shadowbox;width=600px" class="btn btn-small btn-block">Live Feed</a>
            </p>
          </div>
          <div class="span4 well well-small">
              <img src="http://placehold.it/80" style="width: 100%; text-align: center;">
              <p style="text-align: center;"><strong>Name:</strong> Tomasa  Cleaveland <small>Jr</small><br>
              <a href="http://inbloom.hunterskrasek.com/educationupdates.html" rel="shadowbox;width=600px" class="btn btn-small btn-block">Live Feed</a>
              </p>
          </div>
          <div class="span4 well well-small">
            <img src="http://placehold.it/80" style="width: 100%; text-align: center;">
            <p style="text-align: center;"><strong>Name:</strong> Tomasa  Cleaveland <small>Jr</small><br>
            <a href="http://inbloom.hunterskrasek.com/educationupdates.html" rel="shadowbox;width=600px" class="btn btn-small btn-block">Live Feed</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="span4 well well-small">
            <img src="http://placehold.it/80" style="width: 100%; text-align: center;">
            <p style="text-align: center;"><strong>Name:</strong> Tomasa  Cleaveland <small>Jr</small><br>
            <a href="http://inbloom.hunterskrasek.com/educationupdates.html" rel="shadowbox;width=600px" class="btn btn-small btn-block">Live Feed</a>
            </p>
          </div>
          <div class="span4 well well-small">
            <img src="http://placehold.it/80" style="width: 100%; text-align: center;">
            <p style="text-align: center;"><strong>Name:</strong> Tomasa  Cleaveland <small>Jr</small><br>
            <a href="http://inbloom.hunterskrasek.com/educationupdates.html" rel="shadowbox;width=600px" class="btn btn-small btn-block">Live Feed</a>
            </p>
          </div>
          <div class="span4 well well-small">
            <img src="http://placehold.it/80" style="width: 100%; text-align: center;">
            <p style="text-align: center;"><strong>Name:</strong> Tomasa  Cleaveland <small>Jr</small><br>
            <a href="http://inbloom.hunterskrasek.com/educationupdates.html" rel="shadowbox;width=600px" class="btn btn-small btn-block">Live Feed</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="span4 well well-small">
            <img src="http://placehold.it/80" style="width: 100%; text-align: center;">
            <p style="text-align: center;"><strong>Name:</strong> Tomasa  Cleaveland <small>Jr</small><br>
            <a href="http://inbloom.hunterskrasek.com/educationupdates.html" rel="shadowbox;width=600px" class="btn btn-small btn-block">Live Feed</a>
            </p>
          </div>
          <div class="span4 well well-small">
            <img src="http://placehold.it/80" style="width: 100%; text-align: center;">
            <p style="text-align: center;"><strong>Name:</strong> Tomasa  Cleaveland <small>Jr</small><br>
            <a href="http://inbloom.hunterskrasek.com/educationupdates.html" rel="shadowbox;width=600px" class="btn btn-small btn-block">Live Feed</a>
            </p>
          </div>
          <div class="span4 well well-small">
            <img src="http://placehold.it/80" style="width: 100%; text-align: center;">
            <p style="text-align: center;"><strong>Name:</strong> Tomasa  Cleaveland <small>Jr</small><br>
            <a href="http://inbloom.hunterskrasek.com/educationupdates.html" rel="shadowbox;width=600px" class="btn btn-small btn-block">Live Feed</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="push"></div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">Powered by <a href="https://www.inbloom.org/"><img src="../img/inbloomlogo.png" style="background: #000;"></a></p>
    </div>
  </div>
</body>
</html>